@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Coordinador</h1>
    <section>
        <img src="https://img.freepik.com/vector-gratis/gente-pequena-enfocada-leyendo-libros_74855-5836.jpg?t=st=1715978545~exp=1715982145~hmac=4f4f633d8b5860483ab0fab03798067d0f3e6946739204a90a519b3776188259&w=740" alt="image" />
    </section>
</div>
