@model ProyectoFinalSoft.Models.LoginModel.LoginUsuario;
@{
    ViewData["Title"] = "Iniciar sesión";
    Layout = null;
}

<html>
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </head>
    <body>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card col-md-6 col-lg-4 p-0">
            <div class="card-body">
                <form asp-controller="AccesoControlador" asp-action="Login" method="post" 
                class="d-grid form-signin container text-center gap-3">
                    <div class="container text-center">
                        <h1 class="mt-5">Gestor de Horarios</h1>
                        <img class="mb-4" src="https://img.freepik.com/vector-gratis/hombre-que-sostiene-concepto-gestion-tiempo-reloj_23-2148823171.jpg?w=740&t=st=1715828784~exp=1715829384~hmac=42b94774354dabca40a7b73e066491a27d40c9f2ef8261032f332e340a7de7b8"
                             alt="Simbolo Horarios" width="75" height="75">
                        <h2 class="mb-3">@ViewData["Title"]</h2>
                    </div>

                    <div class="form-group">

                        <input asp-for="usuario" class="form-control" placeholder="Usuario" required>
                    </div>
                    <div class="form-group">
                        <input asp-for="contrasenia" type="password" class="form-control" placeholder="Contraseña" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                </form>
                @if (ViewData["Message"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewData["Message"]
                    </div>
                }
            </div>
        </div>
    </div>
    </body>
</html>
