@model ProyectoFinalSoft.Models.Horario

@{
    ViewData["Title"] = "Editar Franja horaria";
    int horarioHoraInicioInt = Model.horarioHoraInicio.Hours;
    String horarioHoraInicioString = horarioHoraInicioInt.ToString();
}

<div class="container mt-5">
    <h1 class="text-center mb-6">Editar Franja Horaria</h1>
    <hr />
    <div class="row col-md-6 mx-auto">
        <form class="row mb-3 d-grid gap-2" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="horarioId" />
            <div class="form-group">
                <label asp-for="horarioDia" class="control-label"></label>
                <input asp-for="horarioDia" class="form-control" readonly />
                <span asp-validation-for="horarioDia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="horarioHoraInicio" class="control-label"></label>
                <input asp-for="horarioHoraInicio" class="form-control" type="time" />
                <span asp-validation-for="horarioHoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="horarioHoraFin" class="control-label"></label>
                <input asp-for="horarioHoraFin" class="form-control" type="time" />
                <span asp-validation-for="horarioHoraFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ambienteId" class="control-label"></label>
                <select asp-for="ambienteId" class="form-control" asp-items="ViewBag.ambienteId"></select>
                <span asp-validation-for="ambienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="docenteId" class="control-label"></label>
                <select asp-for="docenteId" class="form-control" asp-items="ViewBag.docenteId"></select>
                <span asp-validation-for="docenteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="periodoAcademicoId" class="control-label"></label>
                <select asp-for="periodoAcademicoId" class="form-control" asp-items="ViewBag.periodoAcademicoId"></select>
                <span asp-validation-for="periodoAcademicoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetenciaId" class="control-label"></label>
                <select asp-for="CompetenciaId" class="form-control" asp-items="ViewBag.CompetenciaId"></select>
                <span asp-validation-for="CompetenciaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <a class="col-md-5 btn btn-danger me-5" asp-action="List" asp-route-dia="@Model.horarioDia" asp-route-hora="@horarioHoraInicioString">Cancelar</a>
                <input type="submit" value="Actualizar" class="btn btn-warning col-md-5" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}