@model IEnumerable<ProyectoFinalSoft.Models.Horario>

@{
    ViewData["Title"] = "Horarios";
}


<h1 class="text-center my-3">Horario</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Hora</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sábado</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 7; i <= 22; i++)
                    {
                        <tr>
                            <td>@i:00</td>
                            @for (int j = 0; j < 6; j++)
                            {
                                <td class="celda-horario" style="cursor: pointer;" data-horario-id="@i-@j">
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--<div>
    <form asp-controller="HorariosControlador" asp-action="guardarDatosProgComp" method="post">
        <button type="submit">Cargar datos</button>
    </form>
</div>
-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Gestión Horario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body d-grid gap-3 mb-3">
                <a class="btn btn-primary mx-4" asp-controller="HorariosControlador" asp-action="Create">Crear</a>
                <a class="btn btn-secondary mx-4" asp-controller="HorariosControlador" asp-action="List">Gestión horarios</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCerrar">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Evento para abrir la ventana modal
        $(".celda-horario").click(function () {
            $('#myModal').modal('show');
        });

        // Evento para cerrar la ventana modal haciendo clic en el botón de cerrar (x)
        $('#myModal .close').on('click', function () {
            $('#myModal').modal('hide');
        });

        $("#btnCerrar").click(function () {
            $('#myModal').modal('hide');
        });
    });
</script>


