@model IEnumerable<ProyectoFinalSoft.Models.Horario>

@{
    ViewData["Title"] = "Index";
}


<h1 class="text-center my-3">Horario</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Hora</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sábado</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 7; i <= 22; i++)
                    {
                        <tr>
                            <td>@i:00</td>
                            @for (int j = 0; j < 6; j++)
                            {
                                <td style="cursor: pointer;" onclick="openMenu('@i:00')" ></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--
<div>
    <form asp-controller="HorariosControlador" asp-action="guardarDatosProgComp" method="post">
        <button type="submit">Cargar datos</button>
    </form>
</div>-->
<script>
    function openMenu(time) {
        alert("Has seleccionado la franja horaria de las " + time);
        // Aquí puedes agregar el código para abrir tu menú
    }
</script>
