@model ProyectoFinalSoft.Models.Docente

@{
    ViewData["Title"] = "Edit";
}
<div class="container mt-5">
    <h1 class="text-center mb-6">Editar Docente</h1>
    <hr />
    <div class="row col-md-6 mx-auto">
        <form  class="row mb-3" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="docenteId" />
            <div class="form-group">
                <label asp-for="docenteNombre" class="control-label"></label>
                <input asp-for="docenteNombre" class="form-control" />
                <span asp-validation-for="docenteNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="docenteApellido" class="control-label"></label>
                <input asp-for="docenteApellido" class="form-control" />
                <span asp-validation-for="docenteApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="docenteTipoId" class="control-label"></label>
                <input asp-for="docenteTipoId" class="form-control" />
                <span asp-validation-for="docenteTipoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="docenteNumId" class="control-label"></label>
                <input asp-for="docenteNumId" class="form-control" />
                <span asp-validation-for="docenteNumId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="docenteTipo" class="control-label"></label>
                <input asp-for="docenteTipo" class="form-control" />
                <span asp-validation-for="docenteTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="docenteTipoContrato" class="control-label"></label>
                <input asp-for="docenteTipoContrato" class="form-control" />
                <span asp-validation-for="docenteTipoContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="docenteArea" class="control-label"></label>
                <input asp-for="docenteArea" class="form-control" />
                <span asp-validation-for="docenteArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <a class="col-md-5 btn btn-danger me-5" asp-action="Index">Cancelar</a>
                <input type="submit" value="Actualizar" class="btn btn-warning col-md-5" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
