@model ProyectoFinalSoft.Models.Ambiente

@{
    ViewData["Title"] = "Crear Ambientes de aprendizaje";
}

<h1>Crear Ambiente de aprendizaje</h1>

<hr />
<div class="container mt-5">
    <div class="col-md-6 mx-auto">
        <form asp-action="Create" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12">
                <label asp-for="ambienteCodigo" class="form-label"></label>
                <input asp-for="ambienteCodigo" class="form-control" />
                <span asp-validation-for="ambienteCodigo" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label asp-for="ambienteNombre" class="form-label"></label>
                <input asp-for="ambienteNombre" class="form-control" />
                <span asp-validation-for="ambienteNombre" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label asp-for="ambienteUbicacion" class="form-label"></label>
                <input asp-for="ambienteUbicacion" class="form-control" />
                <span asp-validation-for="ambienteUbicacion" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label asp-for="ambienteTipo" class="form-label"></label>

                <select asp-for="ambienteTipo" class="form-control form-select">
                    <option>Selecciona un tipo de ambiente</option>
                    <option value="Presencial">Presencial</option>
                    <option value="Virtual">Virtual</option>
                </select>
                <span asp-validation-for="ambienteTipo" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label asp-for="ambienteCapacidad" class="form-label"></label>
                <input asp-for="ambienteCapacidad" class="form-control" />
                <span asp-validation-for="ambienteCapacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <a asp-action="Index" class="btn btn-danger col-md-5 me-5">Cancelar</a>
                <button type="submit" class="btn btn-primary col-md-5">Guardar</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
