@model ProyectoFinalSoft.Models.Ambiente

@{
    ViewData["Title"] = "Editar Ambientes de aprendizaje";
}

<h1>Editar Ambiente de aprendizaje</h1>

<h4>Ambiente de aprendizaje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ambienteId" />
            <div class="form-group">
                <label asp-for="ambienteCodigo" class="control-label"></label>
                <input asp-for="ambienteCodigo" class="form-control" />
                <span asp-validation-for="ambienteCodigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ambienteNombre" class="control-label"></label>
                <input asp-for="ambienteNombre" class="form-control" />
                <span asp-validation-for="ambienteNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ambienteUbicacion" class="control-label"></label>
                <input asp-for="ambienteUbicacion" class="form-control" />
                <span asp-validation-for="ambienteUbicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ambienteTipo" class="form-label"></label>

                <select asp-for="ambienteTipo" class="form-control form-select">
                    <option>Selecciona un tipo de ambiente</option>
                    <option value="Presencial">Presencial</option>
                    <option value="Virtual">Virtual</option>
                </select>
                <span asp-validation-for="ambienteTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ambienteCapacidad" class="control-label"></label>
                <input asp-for="ambienteCapacidad" class="form-control" />
                <span asp-validation-for="ambienteCapacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <a class="col-md-5 btn btn-danger me-5" asp-action="Index">Cancelar</a>
                <input type="submit" value="Actualizar" class="btn btn-primary col-md-5" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
